<!DOCTYPE html>
<html lang="en">
<head>
  <div th:insert="/include/fragments :: head"></div>

</head>
<body class="goto-here">
<div class="py-1 bg-black">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">+ 1235 2355 98</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">youremail@email.com</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="/include/fragments :: navbar"></div>
<!-- END nav -->
<div class="hero-wrap hero-bread" style="background-image: url('/images/anhbg1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
        <h1 class="mb-0 bread">My Favorite</h1>
      </div>
    </div>
  </div>
</div>
<div id="successAlert" class="alert alert-success" th:if="${favoriteMessage}">
  <i class="fas fa-check-circle" style="margin-right: 8px;"></i>
  <span th:text="${favoriteMessage}"></span>
</div>

<section class="ftco-section ftco-cart">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ftco-animate">
        <div class="cart-list">
          <table class="table">
            <thead class="thead-primary">
            <tr class="text-center">
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Product</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(favorites)}">
              <td colspan="7" class="text-center">No items in the favorite!</td>
            </tr>
            <!-- Loop through favorite products -->
            <tr class="text-center" th:each="favorite : ${favorites}">
              <td class="product-remove">
                <form method="post" th:action="@{/favorite/remove}">
                  <input type="hidden" name="productId" th:value="${favorite.product.id}" />
                  <button style="width: 30px; height: 30px; background-color: white; border: 1px solid #ccc; border-radius: 0;" type="submit" class="btn btn-danger">
                    <span class="ion-ios-close"></span>
                  </button>
                </form>
              </td>

              <td class="image-prod">
                <img th:src="'data:image/jpeg;base64,' + ${favorite.product.thumbnail}" alt="" style="width:150px; height:150px;">
              </td>
              <td class="product-name">
                <h3>
                  <a style="color:black;" th:href="@{/product/details/{slug}(slug=${favorite.product.slug})}" th:text="${favorite.product.productName}"></a>
                </h3>
              </td>

              <td class="price" th:text="'$'+${favorite.product.price}">0.00</td>
            </tr><!-- END TR-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="shoping__cart__btns d-flex justify-content-between">
      <p class="mb-0">
        <button style="border: 1px solid white; background-color:white; width:200px;"
                type="button" class="primary-btn cart-btn"
                onclick="window.location.href='/category';">
          CONTINUE SHOPPING
        </button>
      </p>

      <form method="post" th:action="@{/favorite/clear}">
        <button style="border: 1px solid white; background-color:white; width:200px;" type="submit" class="primary-btn cart-btn">
          <span class="icon_loading"></span>
          CLEAR FAVORITES
        </button>
      </form>

    </div>
  </div>
</section>
<div th:insert="/include/fragments :: footer"></div>



<div th:insert="/include/fragments :: script"></div>
<style>
  .alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
    color: #fff; /* Text color */
    font-weight: bold;
  }

  .alert-success {
    background-color: green; /* Blue background color */
    border: 1px solid green;
    color: white;
  }
  .alert-danger {
    background-color: red; /* Blue background color */
    border: 1px solid red;
    color: white;
  }

  .alert-show {
    display: block;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var successAlert = document.getElementById('successAlert');
    var errorAlert = document.getElementById('errorAlert');

    if (successAlert) {
      successAlert.classList.add('alert-show');
      setTimeout(function() {
        successAlert.classList.add('fade-out');
        setTimeout(function() {
          successAlert.style.display = 'none';
        }, 1000); // thời gian khớp với hiệu ứng fade-out
      }, 3000); // thời gian hiển thị thông báo thành công
    }

    if (errorAlert) {
      errorAlert.classList.add('alert-show');
      setTimeout(function() {
        errorAlert.classList.add('fade-out');
        setTimeout(function() {
          errorAlert.style.display = 'none';
        }, 1000); // thời gian khớp với hiệu ứng fade-out
      }, 3000); // thời gian hiển thị thông báo lỗi
    }
  });
</script>

</body>
</html>