<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="/include/fragmentsAdmin :: head"></div>
    <title>Title</title>
</head>
<body>
<div th:insert="/include/fragmentsAdmin :: navbar"></div>
<section class="section main-section">

    <div class="container">
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Order Info</h3>
                    <ul class="list">
                        <li><a href="#"><span>Order id</span>: <span th:text="${order.id}"></span></a></li>
                        <li><a href="#"><span>Date</span>: <span th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy')}"></span></a></li>
                        <li><a href="#"><span>Total</span>: <span th:text="${order.totalAmount}"></span></a></li>
                        <li><a href="#"><span>Payment Method</span>: <span th:text="${order.paymentMethod}"></span></a></li>
                        <li><a href="#"><span>IsPaid</span>: <span th:text="${order.id}"></span></a></li>
                        <li><a href="#"><span>Status</span>: <span th:text="${order.status}"></span></a></li>
                        <li><a href="#"><span>Note</span>: <span th:text="${order.note}"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Customer Information</h3>
                    <ul class="list">
                        <li><a href="#"><span>Full Name</span>: <span th:text="${order.fullName}"></span></a></li>
                        <li><a href="#"><span>Telephone</span>: <span th:text="${order.telephone}"></span></a></li>
                        <li><a href="#"><span>Email</span>: <span th:text="${order.email}"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Shipping</h3>
                    <ul class="list">
                        <li><a href="#"><span>Shipping method</span>: <span th:text="${order.shippingMethod}"></span></a></li>
                        <li><a href="#"><span>Address</span>:
                            <span th:text="${order.province} + ', ' + ${order.district} + ', ' + ${order.ward} + ' - ' + ${order.addressDetail}"></span>
                        </a></li>
                        <li><a href="#"><span>Schedule</span>: <span th:text="${#temporals.format(order.schedule, 'dd/MM/yyyy')}"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width:100px;" scope="col">ID</th>
                            <th style="width:200px;" scope="col">Thumbnail</th>
                            <th style="width:300px;" scope="col">Name</th>
                            <th style="width:200px;" scope="col">Price</th>
                            <th style="width:200px;" scope="col">Quantity</th>
                            <th style="width:200px;" scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderProduct : ${orderProducts}">
                            <td th:text="${orderProduct.product.id}"></td>
                            <td><img th:src="'data:image/jpeg;base64,' + ${orderProduct.product.thumbnail}" width="120" /></td>
                            <td th:text="${orderProduct.product.productName}"></td>
                            <td th:text="${orderProduct.price}"></td>
                            <td th:text="${orderProduct.qty}"></td>
                            <td th:text="${orderProduct.price * orderProduct.qty}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<div>
    <input type="hidden" id="returnUrl" name="returnUrl" value="#" />

    <div style="float:right; margin-top: 10px; position: relative;">
        <!-- Nếu trạng thái là "pending" -->
        <div th:if="${order.status == 'pending'}" style="display: flex; gap: 10px;">
            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='cancel')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to cancel your order')" type="submit" class="btn btn-danger"
                        style="padding: 5px 10px; border-radius: 5px; background-color: red; color: white;">
                    Cancel
                </button>
            </form>

            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='confirmed')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to confirm the order')" type="submit" class="btn btn-warning"
                        style="padding: 5px 10px; border-radius: 5px; background-color: blue; color: white;">
                    Confirm
                </button>
            </form>
        </div>

        <!-- Nếu trạng thái là "confirmed" -->
        <div th:if="${order.status == 'confirmed'}" style="display: flex; gap: 10px;">
            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='cancel')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to cancel your order')" type="submit" class="btn btn-danger"
                        style="padding: 5px 10px; border-radius: 5px; background-color: red; color: white;">
                    Cancel
                </button>
            </form>

            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='shipping')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to start shipping the order')" type="submit" class="btn btn-warning"
                        style="padding: 5px 10px; border-radius: 5px; background-color: black; color: white;">
                    Shipping
                </button>
            </form>
        </div>

        <!-- Nếu trạng thái là "shipping" -->
        <div th:if="${order.status == 'shipping'}" style="display: flex; gap: 10px;">
            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='shipped')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to mark the order as shipped')" type="submit" class="btn btn-warning"
                        style="padding:5px 10px; border-radius:5px; background-color: orange; color: black;">
                    Shipped
                </button>
            </form>
        </div>

        <!-- Nếu trạng thái là "shipped" -->
        <div th:if="${order.status == 'shipped'}" style="display: flex; gap: 10px;">
            <form method="post" th:action="@{/admin/updateStatus(id=${order.id}, status='complete')}" th:attr="returnUrl=@{/admin/orders}">
                <button onclick="return confirm('Surely you want to mark the order as complete')" type="submit" class="btn btn-warning"
                        style="padding: 5px 10px; border-radius: 5px; background-color: green; color: white;">
                    Complete
                </button>
            </form>
        </div>

        <!-- Nếu trạng thái là "cancel", "complete", "shipping", hoặc "shipped", hiển thị nút Back -->
        <div th:if="${order.status == 'cancel' || order.status == 'complete' || order.status == 'shipping' || order.status == 'shipped'}" style="position: absolute; bottom: 5px; right: 100px; z-index: 10;" >
            <a href="/admin/orders" class="btn btn-warning"
               style="padding: 8px 10px; border-radius: 5px; background-color: red; color: white;">
                Back
            </a>
        </div>
    </div>
</div>



<style>
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
</style>
<div th:insert="/include/fragmentsAdmin :: script"></div>

</body>
</html>