<!DOCTYPE html>
<html lang="en">
<head>
  <div th:insert="/include/fragmentsAdmin :: head"></div>
  <title>Title</title>
</head>
<body>
<div th:insert="/include/fragmentsAdmin :: navbar"></div>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>List of customers</li>
    </ul>
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-start">

    <div class="col-sm-2" style="margin-right: 5px;">
      <button onclick="myApp.printTable()" class="btn btn-add">
        <i class="fas fa-file-pdf"></i>
        Print PDF
      </button>
    </div>


    <div class="col-sm-2" style="margin-right: 5px;">
      <button onclick="exportFacilitiesToExcel()" class="btn btn-add">
        <i class="fas fa-file-excel"></i>
        Export Excel
      </button>
    </div>


    <div class="col-sm-2">
      <button onclick="exportExcel()" class="btn btn-add">
        <i class="fas fa-file-excel"></i>
        Excel Filtered
      </button>
    </div>
  </div>
</section>
<form method="get" action="/admin/customers" style="display: flex; align-items: center; border-radius: 5px; margin-top: 10px; flex-wrap: wrap;">
  <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
    <input type="text" name="userNameSearch" class="form-control" placeholder="Search by Username" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 160px; margin-left: 22px;" />
  </div>
  <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
    <input type="email" name="emailSearch" class="form-control" placeholder="Search by Email" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 160px; margin-left: 7px;" />
  </div>
  <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
    <input type="text" name="addressSearch" class="form-control" placeholder="Search by Address" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 160px; margin-left: 7px;" />
  </div>
  <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
    <input type="text" name="phoneNumberSearch" class="form-control" placeholder="Search by Phone Number" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 160px; margin-left: 7px;" />
  </div>
  <div class="input-group input-group-sm" style="margin-bottom: 10px; margin-left: 10px;">
    <button style="height: 45px; background-color: #F1F1F1; border: none; border-radius: 5px;" type="submit" class="btn btn-default">
      <i class="mdi mdi-magnify" style="padding: 10px;"></i>
    </button>
  </div>
</form>


<section class="section main-section">
  <div class="card has-table">
    <header class="card-header">
      <p class="card-header-title">
        Customer
      </p>
      <form class="card-header-icon" method="get" onchange="this.submit()">
        <select style="margin-left:-10px; padding: 5px 10px; border: 1px solid #F1F1F1" name="size">
          <option value="10" th:selected="${size == 10}">10</option>
          <option value="20" th:selected="${size == 20}">20</option>
          <option value="50" th:selected="${size == 50}">50</option>
          <option value="100" th:selected="${size == 100}">100</option>
        </select>

        <!-- Đảm bảo rằng ${materialsPage.number} được đánh giá đúng -->
        <input type="hidden" name="page" th:value="${customerPage.number}">
      </form>
    </header>
    <div class="card-content">
      <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0" id="sampleTable">
        <thead>
        <tr>
          <th width="10"><input type="checkbox" id="all"></th>
          <th>Id</th>
          <th>Full name</th>
          <th>Thumbnail</th>
          <th>Email</th>
          <th>Address</th>
          <th>PhoneNumber</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="customer : ${customerPage.content}">
          <td width="10"><input type="checkbox" name="check1" value="1"></td>
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.fullName}"></td>
          <td><img th:src="'data:image/jpeg;base64,' + ${customer.thumbnail}" width="120" /></td>
          <td th:text="${customer.email}"></td>
          <td th:text="${customer.address}"></td>
          <td th:text="${customer.phoneNumber}"></td>
          <td class="actions-cell">
            <div class="buttons right nowrap">
              <!-- Sử dụng th:href để truyền customer.id vào URL -->
              <a th:href="@{/admin/orderuser(userId=${customer.id})}" class="btn btn-primary" style="background-color:green; color:white;">
                <span class="icon"><i class="mdi mdi-cart"></i></span>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="table-pagination">
        <div class="flex items-center justify-between">
          <div class="buttons">
            <!-- Nút về trang đầu tiên với icon -->
            <button type="button" class="button"
                    th:disabled="${customerPage.number == 0}"
                    th:onclick="|window.location.href='/admin/customers?page=0&size=' + ${customerPage.size}|">
              <span class="icon"><i class="mdi mdi-page-first"></i></span>
            </button>

            <!-- Nút sang trang trước với icon -->
            <button type="button" class="button"
                    th:disabled="${customerPage.number == 0}"
                    th:onclick="|window.location.href='/admin/customers?page=' + (${customerPage.number} - 1) + '&size=' + ${customerPage.size}|">
              <span class="icon"><i class="mdi mdi-chevron-left"></i></span>
            </button>

            <!-- Các nút phân trang -->
            <button type="button" class="button"
                    th:each="i : ${#numbers.sequence(0, customerPage.totalPages - 1)}"
                    th:text="${i + 1}"
                    th:classappend="${i == customerPage.number} ? 'active' : ''"
                    th:onclick="|window.location.href='/admin/customers?page=' + ${i} + '&size=' + ${customerPage.size}|">
            </button>

            <!-- Nút sang trang tiếp theo với icon -->
            <button type="button" class="button"
                    th:disabled="${customerPage.number + 1 == customerPage.totalPages}"
                    th:onclick="|window.location.href='/admin/customers?page=' + (${customerPage.number} + 1) + '&size=' + ${customerPage.size}|">
              <span class="icon"><i class="mdi mdi-chevron-right"></i></span>
            </button>

            <!-- Nút tới trang cuối với icon -->
            <button type="button" class="button"
                    th:disabled="${customerPage.number + 1 == customerPage.totalPages}"
                    th:onclick="|window.location.href='/admin/customers?page=' + (${customerPage.totalPages - 1}) + '&size=' + ${customerPage.size}|">
              <span class="icon"><i class="mdi mdi-page-last"></i></span>
            </button>
          </div>
          <small th:text="'Page ' + (${customerPage.number} + 1) + ' of ' + ${customerPage.totalPages}"></small>
        </div>
      </div>



    </div>
  </div>
</section>
<style>
  .btn-primary {
    color: rgb(245 157 57);
    background-color: rgb(251 226 197);
    border-radius: .357rem;
    border: none;
    font-weight: 600;
    padding: 5px 20px;
  }

  .page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
  }

  .page-link:hover {
    background-color: #f0f0f0;
  }

  .btn-add {
    color: white;
    background-color: black;
    border-radius: .357rem;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
  }
</style>
<div th:insert="/include/fragmentsAdmin :: script"></div>

</body>
</html>