<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="/include/fragmentsAdmin :: head"></div>
    <title>Title</title>
</head>
<body>
<div th:insert="/include/fragmentsAdmin :: navbar"></div>
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Customer</li>
        </ul>
    </div>
</section>

<section class="is-hero-bar">
    <h1 style="text-align:center; margin: 20px 0">Purchased order</h1>
</section>
<section class="section main-section">
    <div class="card has-table">
        <div class="card-content">
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                <tr>
                    <th width="10"><input type="checkbox" id="all"></th>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Full Name</th>
                    <th>Payment Method</th>
                    <th>Is Paid</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(orders)}">
                    <td colspan="9" style="text-align: center; font-weight: bold;">
                        No orders available.
                    </td>
                </tr>

                <tr th:each="order : ${orders}" th:unless="${#lists.isEmpty(orders)}">
                    <td width="10"><input type="checkbox" name="check1" value="1"></td>
                    <td th:text="${order.id}"></td>
                    <td th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${order.totalAmount}"></td>
                    <td th:text="${order.fullName}"></td>
                    <td th:text="${order.paymentMethod}"></td>
                    <td th:text="${order.isPaid ? 'paid' : 'unpaid'}"></td>
                    <td th:text="${order.status}"></td>
                    <td class="actions-cell">
                        <div class="buttons right nowrap">
                            <a class="btn btn-primary" style="background-color:green; color:white;"
                               th:href="@{/admin/orderdetailuser/{id}(id=${order.id})}">
                                <span class="icon"><i class="mdi mdi-eye"></i></span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</section>
<div class="edit-back-links">
    <a class="btn btn-secondary" href="/admin/customers" style="background-color:black; color:white;">Back to List</a>
</div>
<style>
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);

        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px;
    }
    .btn-secondary {

        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 10px 20px;
        margin-left: 20px;
    }
</style>
<div th:insert="/include/fragmentsAdmin :: script"></div>

</body>
</html>